# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [6]:
# Calculate the total number of unique schools
school_count = len(school_data["school_name"].unique())

In [7]:
# Calculate the total number of students
student_count = len(student_data["student_name"])

In [28]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [30]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [31]:
# Calculate the average (mean) reading score
average_reading_score= school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [12]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [13]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [14]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [32]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Unique School Names": [school_count], "Total number of students": [student_count], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "Percentage Passing Math": [passing_math_percentage], "Percentage Passing Reading": [passing_reading_percentage], "Percentage Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total number of students"] = district_summary["Total number of students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame

In [34]:
district_summary

,Total Unique School Names,Total number of students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [36]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [37]:
# Calculate the total student count
per_school_counts = len(student_data["student_name"])

In [38]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

C:\Users\MattS\AppData\Local\Temp\ipykernel_4980\3362352537.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

In [42]:
# Calculate the average test scores
per_school_math = school_data_complete ["math_score"].mean()
per_school_reading = school_data_complete["reading_score"].mean()

In [43]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()

In [44]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"]>= 70)].count()

In [45]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

In [51]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby("school_name").count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby("school_name").count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby("school_name").count()["student_name"] / per_school_counts * 100

ValueError: Grouper for 'school_name' not 1-dimensional

In [48]:
school_passing_math["school_name"]

29370

In [55]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary=pd.DataFrame

total_schools= "school names"
school_type= "school types"
total_students= "student names"
total_budget= "total budget"
per_student_budget= "total student budget"
average_math_score= "average math score"
average_reading_score= "average reading score"
per_school_passing_math= "% passing math"
per_school_passing_reading= "% passing reading"
overall_passing_rate= "% passing both math and reading"

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

TypeError: 'type' object is not subscriptable

## Highest-Performing Schools (by % Overall Passing)

In [56]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

## Bottom Performing Schools (By % Overall Passing)

In [57]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools= per_school_summary.sort_values(["% Overall passing"], ascending=True)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

## Math Scores by Grade

In [12]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data[(school_data_complete["grade"]== "9th")].mean()
tenth_graders_scores = school_data[(school_data_complete["grade"]== "10th")].mean()
eleventh_graders_scores = school_data[(school_data_complete["grade"]== "11th")].mean()
twelfth_graders_scores = school_data[(school_data_complete["grade"]== "12th")].mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade= pd.DataFrame

ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

NameError: name 'school_data_complete' is not defined

## Reading Score by Grade

In [13]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data[(school_data_complete["grade"]== "9th")].mean()
tenth_graders_scores = school_data[(school_data_complete["grade"]== "10th")].mean()
eleventh_graders_scores = school_data[(school_data_complete["grade"]== "11th")].mean()
twelfth_graders_scores =  school_data[(school_data_complete["grade"]== "12th")].mean()

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade= pd.DataFrame

ninth_grade_math_scores = ninth_graders_scores["reading_score"]
tenth_grader_math_scores = tenth_graders_scores["reading_score"]
eleventh_grader_math_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_math_scores = twelfth_graders_scores["reading_score"]

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

NameError: name 'school_data_complete' is not defined

## Scores by School Spending

In [7]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [15]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = 'per_school_summary'.copy()

AttributeError: 'str' object has no attribute 'copy'

In [3]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut("Spending Ranges".Students, spending_bins = [0, 585, 630, 645, 680], labels = ["<$585", "$585-630", "$630-645", "$645-680"])

NameError: name 'pd' is not defined

In [8]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

NameError: name 'school_spending_df' is not defined

In [9]:
# Assemble into DataFrame
spending_summary = pd.DataFrame

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
# Display results
spending_summary

NameError: name 'pd' is not defined

## Scores by School Size

In [1]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [14]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
pd.cut= (total_students)
per_school_summary["School Size"]
size_bins (0, 1000, 2000, 5000)
labels= ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

NameError: name 'total_students' is not defined

In [2]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

NameError: name 'per_school_summary' is not defined

In [5]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary= pd.DataFrame

per_school_summary= ["School Size"]
small_schools= "Small(<1000 students)"
medium_schools= "Medium(1000-2000 students)"
large_schools= "Large(2000-5000 students)"

# Display results
size_summary

NameError: name 'pd' is not defined

## Scores by School Type

In [17]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_counts["Average Math Score"]
type_reading_scores = per_school_counts ["Average Reading Score"]
type_passing_math = per_school_counts ["% Passing Math"]
type_passing_reading = per_school_counts ["% Passing Reading"]
type_overall_passing = per_school_counts ["% Overall Passing"]

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

NameError: name 'per_school_counts' is not defined

In [16]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary= pd.DataFrame

charter_schools= school_type["Charter"]
district_schools= school_type["District"]

# Display results
type_summary

NameError: name 'pd' is not defined